
.game-page {
    position: relative;
    top: 0px;
    left: 0px;
}

.top-bar {
    position: fixed;
    z-index: 2;
    background-color: #D0D0D0;
    padding: 5px 5px 5px 5px;
}

.common-surface {
    position: absolute;
    z-index: 1;
    background-color: #506550;
}

.player-surface {
    position: absolute;
    z-index: 1;
    background-color: #D0D0D0;
}

#center {
    top: 80px;
    width: 800px;
    height: 500px;
}

p {
    margin-top: 0px;
}

td {
    padding: 0 10px;
}
