


.top-bar {
    position: static;
    background-color: #D0D0D0;
    margin: 8px 0px;
}

.game-area {
    position: relative;
    margin: 8px 0px;
}

.common-surface {
    position: absolute;
    background-color: #506550;
    padding: 5px;
}

.player-surface {
    position: absolute;
    background-color: #D0D0D0;
    padding: 5px;
}

#center {
    width: 800px;
    height: 500px;
}

p {
    margin-top: 0px;
}


td.top-bar-td {
    padding: 5px 10px;
}

