<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{gameName}} Admin</title>
</head>
<script type="text/JavaScript">

	function revert() {
		toStateN = document.getElementById("input_state_n").value;
		document.location.href = "/admin/revert_to/" + toStateN + "?token={{adminToken}}";
	}

	function setSpecialMode() {
		specialMode = document.getElementById("special_mode").value;
		document.location.href = "/admin/special_mode/" + specialMode + "?token={{adminToken}}";
	}

	function shutdown() {
		document.location.href = "/admin/shutdown" + "?token={{adminToken}}";
	}

</script>
<body>
	<h1>{{gameName}} Admin</h1>
	<p>{{nPlayers}} player game</p>
	<p>current stateN: {{currentStateN}}</p>
	<form onsubmit="revert()">
		<label for="input_state_n">Revert to stateN:</label><br />
		<input type="number" id="input_state_n" /><br />
	</form>
	<button id="revert_button" onclick="revert()">Revert</button><br />
	Revert to 1 will reset to the beginning just after setup<br />
	Revert to 0 will reshuffle everything and re-setup the game<br />
	<br />
	<form onsubmit="setSpecialMode()">
		<label for="special_mode">Special mode:</label><br />
		<input type="text" id="special_mode" value="{{specialMode}}" /><br />
	</form>
	<button id="special_mode_button" onclick="setSpecialMode()">Set mode</button><br />
	<br />
	<a href="/admin/debug?token={{adminToken}}">Debug vars</a><br />
	<br />
	<a href="/admin/test?token={{adminToken}}">Run test</a><br />
	<br />
	<button id="shutdown_button" onclick="shutdown()">Shutdown Server</button><br />
</body>
</html>