<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{gameName}} Admin</title>
</head>
<script type="text/JavaScript">

	function revert() {
		toStateN = document.getElementById("input_state_n").value;
		document.location.href = "/game/revert_to/" + toStateN + "?token={{adminToken}}";
	}

</script>
<body>
	<h1>{{gameName}} Admin</h1>
	<p>{{nPlayers}} player game</p>
	<p>current stateN: {{currentStateN}}</p>
	<form onsubmit="ready()">
		<label for="input_state_n">Revert to stateN:</label><br>
		<input type="number" id="input_state_n"><br>
	</form>
	<button id="revert_button" onclick="revert()">Revert</button><br />
	Revert to 1 will reset to the beginning just after setup<br />
	Revert to 0 will reshuffle everything and re-setup the game<br />
	<br />
	<a href="/debug?token={{adminToken}}">Debug vars</a>
</body>
</html>