<!DOCTYPE html>
<html>

<head>
	<title>{{pageTitle}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="game.css") }}"> 
</head>

<script type="text/javascript" src="{{ url_for("static", filename="div_manipulation.js") }}"></script>

<script type = "text/JavaScript">
	
	var playerId = "{{playerId}}";
	var playerName = "{{playerName}}";
	var currentStateN = 0;
	
	// ------------------ request/send functions ------------------
	
	function ajaxGet(urlParams, successFunc, errorFunc) {
		$.ajax({
			url: urlParams.join('/'),
			cache: false,
			type: "GET",
			dataType: "json", // return data type
			success: successFunc,
			error: errorFunc
		});
	}
	
	function ajaxPost(urlParams, data, successFunc, errorFunc) {
		$.ajax({
			url: urlParams.join('/'),
			cache: false,
			type: "POST",
			contentType: "application/json", // send data type
			dataType: "json", // return data type
			data: JSON.stringify(data),
			success: successFunc,
			error: errorFunc
		});
	}
	
	/**
	 * Request an update of the latest (or specific) state from the server.
	 * @param { Number } [newStateN] if supplied it requests this state instead of the latest.
	 */
	function requestUpdate(newStateN) {
		console.log("requestUpdate: ", newStateN)
		var urlParams = ["update_client", currentStateN];
		if (newStateN !== undefined) {
			urlParams.push(newStateN);
		}
		ajaxGet(urlParams, receiveUpdate, failedRequestUpdate);
	}
	
	function sendAction(stateN, actionObj) {
        ajaxPost(["client_action", stateN], actionObj, receiveUpdate, failedSendAction);
	}

	function divUserAction(divId, actions) {
		sendAction(currentStateN, actions[0]);
	}
	
	// ------------------ callback functions ------------------

	function unknownDataError(data, context) {
		console.log("Error! Received unknown data in " + context + ": ", data);
		alert("Error! Received unknown data in " + context + ", see log.");
	}

	/**
	 * Receive an Array of updates from the server
	 * @param { Array } data
	 */
	function receiveUpdate(data) {
		if (data instanceof Array) {
			data.forEach(function (uData, idx) {
				if (uData instanceof Array && uData.length >= 1) {
					if (uData[0] === "state_n") {
						stateN = uData[1]
						if (stateN != currentStateN) {
							currentStateN = stateN;
							document.getElementById("state_n_label").innerHTML = "stateN: " + currentStateN.toString();
							document.getElementById("top_bar_info").innerHTML = ""; // clear any info in top bar
						}
					} else if (uData[0] === "set_div") {
						setDiv(uData[1], uData[2], divUserAction);
					} else {
						unknownDataError(uData, "receiveUpdate 3");
					}
				} else {
					unknownDataError(uData, "receiveUpdate 2");
				}
			});
		} else {
			unknownDataError(data, "receiveUpdate 1");
		}
	}
	
	function failedRequestUpdate(err, msg) {
		console.log(msg);
	}
	
	function failedSendAction(err, msg) {
		console.log(msg);
		alert(msg);
	}
	
</script>

<body onload="requestUpdate()">

	<div class="hole-page">

		<div class="top-bar">
			<table>
				<tr>
					<td class="top-bar-td">
						<b>{{pageTitle}}</b>
					</td>
					<td class="top-bar-td">
						<p id="state_n_label">stateN: -</p>
					</td>
					<td class="top-bar-td">
						<button type="button" onclick="requestUpdate(currentStateN-1)">Back</button>
						<button type="button" onclick="requestUpdate(currentStateN+1)">Forward</button>
					</td>
					<td class="top-bar-td">
						<b id="top_bar_info">{{info|safe}}</b>
					</td>
				</tr>
			</table>
		</div>

		<div class="game-area" id="game_area">
			<div class="common-surface" id="center">
			</div>
		</div>

		<div class="log-window">
		</div>

	</div>


</body>
</html>