<!DOCTYPE html>
<html>
<head>
	<title>{{gameName}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<script type = "text/JavaScript">

	/*
	function autoRefresh(timeout) {
		setTimeout("location.reload(true);", timeout);
	}
	*/
	
	function ready() {
		$.ajaxSetup( { cache: false } )
		
		document.getElementById("f_playerName").disabled = true;
		document.getElementById("f_button").disabled = true;
		
		playerName = document.getElementById("f_playerName").value
		
		var createPlayerURL = '/new_player/' + f_playerName.value

		// TODO: use ajax post
		$.getJSON(createPlayerURL, function(playerId) {
			window.location.href = encodeURI('/game/' + playerId + '/' + playerName + '/view');
		});
	}
	
</script>
<!--<body {% if done %} onload = "JavaScript:autoRefresh(5000);" {% endif %} >-->
<body>
	<h1>{{gameName}}</h1>
	<p>{{nPlayers}} player game</p>
	<form onsubmit="ready()">
		<label for="f_playerName">Name:</label><br>
		<input type="text" id="f_playerName"><br>
	</form>
	<!--<button id="f_button" {% if done %} disabled {% else %} onclick="start()" {% endif %} >Enter</button>-->
	<button id="f_button" onclick="ready()">Enter</button>
</body>
</html>